@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap%27);



body{
    font-family: 'Montserrat', sans-serif;
}

.banner{
    position: relative;
    widows: 100%;
    height: calc(108vh - 50px);
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
}

.contenido{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.contenido h1{
    margin: 20px;
    font-size: 30px;
    color: white;
    opacity: 5.5;
}

.contenido p{
    margin: 20px;
    font-size: 15px;
}

.nav-item{
    margin-right: 30px;
}


#menu a {
    font-size: 16px;
    font-weight: bold;
    color: #dfdfdf;
}

#menu form > bottom{
    font-size: 16px;
    font-weight: bold;
    
}

.carousel-inner{
    max-height: 30rem;
}

.servicio-fila{
    text-align: center;
    width: 100%;
}

.img-c{
    border-radius: 10%;
}

.icono-wrap{
    flex: wrap;
    justify-content: center;
}

.img-fluid{
    max-height: 40rem;
    width: 90%;
}

#local{
    background: #f3f3f3;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 50%;
    margin-left: 100px;
    padding-top: 40px;
}

/*
#numeros-local div{
    padding: 0 20px 0 0;
    height: 48px;

}

#numeros-local div:not(:last-child){
    border-right: 2px solid #3f3f3f;
}

#numeros-local div:not(:first-child){
    padding-left: 20px;
}

#numeros-local p{
    margin: 0;
}

#bg-contacto{
    position: relative;
    top: -130px;
}

#seccion-contacto{
    background-color: #1b2a4e;
    min-height: 500px;
    position: relative;
}

#contenedor-formulario
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
    padding: 10px
}

#titulo-formulario{
    color: #3f3f3f;
}

*/

.html-color{
    color: orangered;
}

.css-color{
    color: #2494f4;
}

.js-color{
    color: #fbdb04;
}

.c-color{
    color: #943cab;
}


.inner{
    padding-top: 30px;
}

.header{
    text-align: center;
    padding: 1rem;
    position: relative;
    padding-top: 50px;
}

.header h1{
    font-weight: bold;
}

/*.header::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: #013869;
} */

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2em;
}

.skill-box{
    padding: 1em;
    color: rgb(72, 72, 72);
    cursor: pointer;
}




.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
    margin-bottom: .5em;
    position: relative;
    
}

.img{
    width: 90px;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.skill-icon{
    width: 70px;
    padding-bottom: 30px;
}

.skill-title h3{
    color: #3f3f3f;
    margin-top: .5em;
    font-weight: bold;
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
    width: 35px;
}

.skill-box:hover .img{
    transform: translateY(-10px);

}


.skill-title::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #013869;
    transition: .5s;
}
.skill-title::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #013869;
    transition: .5s;
}

/*
.barra{
    height: 70px;
    width: 400px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.barra h3{
    font-weight: bold;
    font-size: 20px;
}


.idioma1{
    display: flex;
    justify-content: center;
    align-items: center;
}



.idiomas p{
    text-align: center;
    width: 500px;
}


.idiomas{
    display: grid;
    place-items: center;
    padding-top: 40px;
    
}

.progress-bar{
    background-color: #013869;

}
*/



/* ---- IDIOMAS ---- */

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor1{
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 8px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}

.circular-progress, .circular-progressDOS, .circular-progressTRES{
    position: relative;
    height:  250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(rgba(1,56,105,1) 3.6deg, white 0deg); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before, .circular-progressDOS::before, .circular-progressTRES::before{
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #fff;
}

.progress-value, .progress-valueDOS, .progress-valueTRES{
    position: relative;
    font-size: 50px;
    font-weight: 100px;
    color: black;
}

.text{
    font-size: 30px;
    font-weight: 00px;
    color: #606060;
}






@media screen and (max-width:800px){
    body{
        justify-content: center;
    }
    .container{
        display: block;
    }

    .idiomas{
        justify-content: center;
    }

    .idiomas > p{
        width: 400px;
    }


}
