@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap%27);



body{
    font-family: 'Montserrat', sans-serif;
}

/*NAV BAR*//*NAV BAR*//*NAV BAR*//*NAV BAR*//*NAV BAR*//*NAV BAR*//*NAV BAR*/
.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.9);
}
.dropdown-menu a:hover {
    background-color: #3f3f3f;
}
nav.transition { 
    transition-duration: 0.5s;
}

.nav-item{
    margin-right: 30px;
}
#menu a {
    font-size: 16px;
    font-weight: bold;
    color: #dfdfdf;
}
#menu form > bottom{
    font-size: 16px;
    font-weight: bold;
    
}
/*NAV BAR*//*NAV BAR*//*NAV BAR*//*NAV BAR*//*NAV BAR*//*NAV BAR*//*NAV BAR*/





/*BANNER*//*BANNER*//*BANNER*//*BANNER*//*BANNER*//*BANNER*//*BANNER*//*BANNER*/
.banner{
    position: relative;
    widows: 100%;
    height: calc(108vh - 50px);
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
}
.contenido{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.contenido h1{
    margin: 20px;
    font-size: 30px;
    color: white;
    opacity: 5.5;
}
.contenido p{
    margin: 20px;
    font-size: 15px;
}
.text{
    font-size: 25px;
    font-weight: 20px;
    color: #050505;
}
/*BANNER*//*BANNER*//*BANNER*//*BANNER*//*BANNER*//*BANNER*//*BANNER*//*BANNER*/





/*HABILIDADES*//*HABILIDADES*//*HABILIDADES*//*HABILIDADES*//*HABILIDADES*//*HABILIDADES*/
.inner{
    padding-top: 30px;
}

.header{
    text-align: center;
    padding: 1rem;
    position: relative;
    padding-top: 50px;
}
.header h1{
    font-weight: bold;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2em;
}
.skill-box{
    padding: 1em;
    color: rgb(72, 72, 72);
    cursor: pointer;
}
.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
    margin-bottom: .5em;
    position: relative;
    
}
.img{
    width: 90px;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.skill-icon{
    width: 70px;
    padding-bottom: 30px;
}
.skill-title h3{
    color: #3f3f3f;
    margin-top: .5em;
    font-weight: bold;
}
.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
    width: 35px;
}
.skill-box:hover .img{
    transform: translateY(-10px);

}
.skill-title::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #013869;
    transition: .5s;
}
.skill-title::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #013869;
    transition: .5s;
}
/*HABILIDADES*//*HABILIDADES*//*HABILIDADES*//*HABILIDADES*//*HABILIDADES*//*HABILIDADES*/










/*IDIOMAS*//*IDIOMAS*//*IDIOMAS*//*IDIOMAS*//*IDIOMAS*//*IDIOMAS*//*IDIOMAS*//*IDIOMAS*/
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor1{
    display: flex;
    width: 400px;
    padding: 30px 0;
    border-radius: 8px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}
.circular-progress, .circular-progressDOS, .circular-progressTRES{
    position: relative;
    height:  250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(rgba(1,56,105,1) 3.6deg, rgb(255, 255, 255) 0deg); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before, .circular-progressDOS::before, .circular-progressTRES::before{
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #fff;
}
.progress-value, .progress-valueDOS, .progress-valueTRES{
    position: relative;
    font-size: 50px;
    font-weight: 100px;
    color: black;
}
/*IDIOMAS*//*IDIOMAS*//*IDIOMAS*//*IDIOMAS*//*IDIOMAS*//*IDIOMAS*//*IDIOMAS*//*IDIOMAS*/








/*PROYECTOS*//*PROYECTOS*//*PROYECTOS*//*PROYECTOS*//*PROYECTOS*//*PROYECTOS*//*PROYECTOS*/
#proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor11 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 80px;
    margin-left: 80px;
}
.contenedor_proyectos {
    flex-basis: 33%;
    box-sizing: border-box;
}
.card-img-top{
    height: 300px;
    width: 286px;
    padding: 10px;
    border-radius: 20px;
}
.title1{
    padding: 20px;
}
.card{
    padding: 50px;
}
.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*PROYECTOS*//*PROYECTOS*//*PROYECTOS*//*PROYECTOS*//*PROYECTOS*//*PROYECTOS*//*PROYECTOS*/









/*RESPONSIVE*/
@media screen and (max-width:800px){
    body{
        justify-content: center;
    }
    .container{
        display: block;
    }

    .idiomas{
        justify-content: center;
    }

    .idiomas > p{
        width: 400px;
    }

    .main{
        display: flex;
        flex-direction: column;
    }
}


